*.o
Makefile
moc_*
*.moc
RPMS/
documentation.list
src/connmanvpnconnectionproxy.cpp
src/connmanvpnconnectionproxy.h
src/connmanvpnproxy.cpp
src/connmanvpnproxy.h
src/libsystemsettings.prl
*.so*
src/mceiface.cpp
src/mceiface.h
src/pkgconfig/
src/plugin/libnemosystemsettings.so
src/plugin/plugin.moc

